<!DOCTYPE html>
<html ng-app="ku-regis">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guro</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- Import scripts -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- controller scripts -->
    <script type="text/javascript" src="javascripts/controller/main.js"></script>

    <!-- router -->
    <script type="text/javascript" src="javascripts/route/route.js"></script>

    <!-- render view page -->
    <ui-view></ui-view>
  </body>
</html>
