<div class="container">
  <div class="col-lg-6">
    <div class="panel panel-default">
  <div class="panel-body">
    <h2>Profile <img class="profile-pic" src="images/profile.jpg"/></h2>
    <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">ID</h4>
    <p class="list-group-item-text">b5610546702</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>
  </div>
</div>
  </div>
  <div class="col-lg-6 text-center">
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-default" data-toggle="tooltip"
        data-placement="left" title="" data-original-title="Information of all courses available">View Courses</button>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-default" data-toggle="tooltip"
        data-placement="right" title="" data-original-title="Enroll courses available">Enroll Courses</button>
      </div>
    </div>
  </div>
</div>
