<div class="container">
  <h1>KU Course Registration System</h1>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Profile <img class="profile-pic" src="images/profile.jpg"/></h2>
        <div class="list-group">
          <a class="list-group-item">
            <h5 class="list-group-item-heading">ID</h5>
            <p class="list-group-item-text">b5610546702</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Name</h5>
            <p class="list-group-item-text">Jiratchaya Intaragumaheng</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Degree Level</h5>
            <p class="list-group-item-text">Bachelor</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Campus</h5>
            <p class="list-group-item-text">Bangkhen</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Faculty</h5>
            <p class="list-group-item-text">Engineering</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Major</h5>
            <p class="list-group-item-text">Software & Knowledge Engineering (E17)</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Advisor</h5>
            <p class="list-group-item-text">Intiraporn Mulasatra (E9011)</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Student Status</h5>
            <p class="list-group-item-text">Currently studying </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 text-center">
    <div class="top-bot-5">
      <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="tooltip" ui-sref="courses"
      data-placement="left" title="" data-original-title="Information of all courses available">View Courses</button>
    </div>
    <div class="top-bot-5">
      <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="tooltip" ui-sref="enroll"
      data-placement="right" title="" data-original-title="Enroll for available courses">Enroll Courses</button>
    </div>
    <div class="top-bot-5">
      <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="tooltip" ui-sref="report"
      data-placement="left" title="" data-original-title="Show course registration report">Registration Report</button>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Time</h2>
        <span><h5>{{1288323623006 | date:'h:mma'}}</h5></span>
      </div>
    </div>
    <div class="panel panel-default top-bot-5">
      <div class="panel-body">
        <h2>Calendar</h2>
          <table id="calendar" cellspacing="0" cellpadding="0" summary="This month&#39;s calendar">
            <caption><a href="#" title="previous month" class="nav"></a> April <a href="#" title="next month" class="nav"></a></caption>
            <tbody><tr>
              <th scope="col" abbr="Sunday" title="Sunday">S</th>
              <th scope="col" abbr="Monday" title="Monday">M</th>
              <th scope="col" abbr="Tuesday" title="Tuesday">T</th>
              <th scope="col" abbr="Wednesday" title="Wednesday">W</th>
              <th scope="col" abbr="Thursday" title="Thursday">T</th>
              <th scope="col" abbr="Friday" title="Friday">F</th>
              <th scope="col" abbr="Saturday" title="Saturday">S</th>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="#">6</a></td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td class="today"><a href="#">10</a></td>
              <td>11</td>
              <td>12</td>
            </tr>
            <tr>
              <td><a href="#">13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
            </tr>
            <tr>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td><a href="#">23</a></td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
            </tr>
            <tr>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody></table>
      </div>
    </div>
  </div>
</div>
