<div class="container">
  <!-- <h1>KU Course Registration System</h1> -->
  <div class="row import-box">
    <div class="col-md-12">
      <h2>
        KU Course Registration System
      </h2>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="h-service">
            <div class="icon-wrap ico-bg round-fifty wow fadeInDown animated" data-wow-animation-name="fadeInDown">
              <i class="glyphicon glyphicon-th-large">
              </i>
            </div>
            <div class="h-service-content wow fadeInUp animated" data-wow-animation-name="fadeInUp">
              <h3><br>
                View Courses
              </h3>
              <p>
                Information of all courses available
                <button type="button" class="btn btn-success top-bot-5" data-toggle="tooltip" ui-sref="courses"
                data-placement="left" title="" data-original-title="Click here to view information of all courses available">View Courses</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="h-service">
            <div class="icon-wrap ico-bg round-fifty wow fadeInDown animated" data-wow-animation-name="fadeInDown">
              <i class="glyphicon glyphicon-pencil">
              </i>
            </div>
            <div class="h-service-content wow fadeInUp animated" data-wow-animation-name="fadeInUp">
              <h3><br>
                Enroll Courses
              </h3>
              <p>
                Enroll for available courses
                <br>
                <button type="button" class="btn btn-success top-bot-5" data-toggle="tooltip" ui-sref="enroll"
                data-placement="bottom" title="" data-original-title="Click here to enroll for available courses">Enroll Courses</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="h-service">
            <div class="icon-wrap ico-bg round-fifty wow fadeInDown animated" data-wow-animation-name="fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
              <i class="glyphicon glyphicon-list-alt">
              </i>
            </div>
            <div class="h-service-content wow fadeInUp animated" data-wow-animation-name="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <h3><br>
                Registration Report
              </h3>
              <p>
                Show course registration report
                <br>
                <button type="button" class="btn btn-success top-bot-5" data-toggle="tooltip" ui-sref="report"
                data-placement="right" title="" data-original-title="Click here to view course registration report">Registration Report</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Profile <img class="profile-pic" src="images/profile.jpg"/></h2>
        <div class="list-group">
          <a class="list-group-item">
            <h5 class="list-group-item-heading">ID</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.id}}</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Name</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.name}}</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Degree Level</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.degree}}</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Campus</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.campus}}</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Faculty</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.faculty}}</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Major</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.major}} ({{homepageCtrl.user.major_id}})</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Advisor</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.advisor}} ({{homepageCtrl.user.advisor_id}})</p>
          </a>
          <a class="list-group-item">
            <h5 class="list-group-item-heading">Student Status</h5>
            <p class="list-group-item-text">{{homepageCtrl.user.status}} </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Time</h2>
        <span><h5>{{1288323623006 | date:'h:mma'}}</h5></span>
      </div>
    </div>
    <div class="panel panel-default top-bot-5">
      <div class="panel-body">
        <h2>Calendar</h2>
        <table id="calendar" cellspacing="0" cellpadding="0" summary="This month&#39;s calendar">
          <caption><a href="#" title="previous month" class="nav"></a> April <a href="#" title="next month" class="nav"></a></caption>
          <tbody><tr>
            <th scope="col" abbr="Sunday" title="Sunday">S</th>
            <th scope="col" abbr="Monday" title="Monday">M</th>
            <th scope="col" abbr="Tuesday" title="Tuesday">T</th>
            <th scope="col" abbr="Wednesday" title="Wednesday">W</th>
            <th scope="col" abbr="Thursday" title="Thursday">T</th>
            <th scope="col" abbr="Friday" title="Friday">F</th>
            <th scope="col" abbr="Saturday" title="Saturday">S</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#">6</a></td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td class="today"><a href="#">10</a></td>
            <td>11</td>
            <td>12</td>
          </tr>
          <tr>
            <td><a href="#">13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
            </tr>
            <tr>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td><a href="#">23</a></td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
            </tr>
            <tr>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
