<div class="container">
  <h2>Registration Report</h2>
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="well" ng-repeat="enroll_course in reportCtrl.enroll_list">
      <h4>{{enroll_course.id}}</h4>
      <p>
        {{enroll_course.name_en}}
      </p>
      <p>
        {{enroll_course.name_th}}
      </p>
    </div>
    <div class="text-center" ng-if="reportCtrl.enroll_list.length === 0">
      <h4>
        No courses
      </h4>
    </div>
  </div>
  </div>
  <button class="btn btn-primary back-button" ui-sref="home" type="button">
    <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
</div>
